{% extends 'layout.html' %}
{% block content_body %}
<div class="container">
	  <h1>Conclusions and Current Plans</h1>
	    <p style="font-size:18px">
		In conclusion we can see that sales increased more than usual this year when compared with past years.
		There are differences between how the dollar amount and volume amount increased.
		This gives a clear path for future data analysis.
		Along with this analysis more interactivity with the data will be introduced.
		</p>
		<p style="font-size:18px">
		This work is vital for understand what effect Covid-19 had on the economy.
		Businesses invovled in the liquor industry need this information in order to better cope with these strange times.
		</p>
{% endblock content_body %}