{% extends 'layout.html' %}
{% block content_body %}
    <div class="container">
	  <h1>Covid-19 has Changed the Economy</h1>
	    <img src="/static/covid19.jpg"/>
		<br><br>
        <p style="font-size:18px">
		Covid-19 has drastically disrupted society on a global scale.
		In order for businesses to cope with this unpredidented situation we need to understand exactly how Covid-19 has affected the economy.
		Idealy we would like to know how everything has changed, but this is an unreasonable task.
		Instead we will focus on a small part of the economy in order to get some idea of what is going on.
		We will be focusing on hard liquor sale for at home consumption in Iowa.
		</p>
	  <h1>Why Iowa Liquor Sales?</h1>
	    <img src="/static/liquor_shelf.jpg"/>
		<br><br>
	    <p style="font-size:18px">
		We will be focusing on Iowa liquor sales for two main reasons.
		First off the data is freely avalible at <a href="https://data.iowa.gov/Sales-Distribution/Iowa-Liquor-Sales/m3tr-qhgy">Iowa Data</a>.
		This data set includes various information (including amount, location, type, etc...) on each hard liquor sale made at liquor stores in Iowa.
		Using this we can paint a picture of how the sales changed over time, which is perfect when trying to see how the sales changed once Covid-19 took effect.
		</p>
		<p style="font-size:18px">
		The second reason is that we already have an expectation of what should have happened.
		Liquor is often served at bars and resturants, which we know have been drastically hurt by the epedemic.
		So instead of peopl going out to drink once expects them to instead drink at home.
		Also it is known that during times of stress populations tend to drink more, which leads to an increase in sales.
		Due to these two reasons we expect to see an increase in hard liquor sales for at home consumption.
		By analyzing the data we can check our intuition with the real world data.
		</p>
		<p style="font-size:18px">
		Insights gained from this analysis are vital to all industries associated with hard liquor sales.
		If we don't know what Covid-19 did to the market we can not adjust to the new normal nor prepare for furture pandemics.
		</p>
{% endblock content_body %}
